@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Manrope&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Manrope, sans-serif;
    font-weight: 300;
    color: gray;
}

/* headings and logo */

h1, h2 {
    font-family: Karla, sans-serif;
    letter-spacing: 4px;
    color: chocolate;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 50px;

}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a:hover {
    border-bottom: 1px solid gray;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

.active {
    border-bottom: 1px solid gray;
}

/*  hero image and cover text */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text h2, h3 {
    color:#fff;    
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/yoga-hero-pic.webp') no-repeat center center;
    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: Karla, sans-serif;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(241, 109, 107, .7);

    bottom: 8px;
    left: 175px;
    position: absolute;
    text-align: center;
}

/* yoga benifits */

#benifits {
    height: 600px;
}

#left-about {
    padding-top: 30px;
    width: 50%;
    float: left;
}

#right-about {
    padding-top: 100PX;
    width: 50%;
    float: right;   
}


hr {
    border-top: 1px solid gray;
    width: 99%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: right;
}

.right-about-heading p {
    text-align: right;
}

#welcome {
    text-align: center;
    margin: 25px 0;
    font-size: 280%;
}


/*  class times */

#yin-yoga {
    background-image: url(../images/non-stock-yin-yoga-image.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 20%;
    overflow: hidden;
}

#hatha-yoga {
    background-image: url(../images/non-stock-yoga-image.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 20%;
    overflow: hidden;
}

#hot-yoga {
    background-image: url(../images/non-stock-hot-yoga.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 20%;
    overflow: hidden;
}

#resto-yoga {
    background-image: url(../images/non-stock-resto-yoga.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 20%;
    overflow: hidden;
}

#aerial-yoga {
    background-image: url(../images/aerial-yoga-image.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 20%;
    overflow: hidden;
}


#classes div {
    
    width: 20%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: left;
    border: 2px solid white;
    box-sizing: border-box;
}

#classes h3 {
    color: chocolate;
}

#map {
    text-align: center;
    padding-top: 100px;
}

#map-wrapper{
    margin-top: 10%;
}

/* footer */

footer {
    height: 150px;

}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: gray;
}

/* community  */

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}

#adm {
    text-align: center;
    background-color: chocolate;
}

/* media queries */

/* For larger to medium screens from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #benifits {
       width: 65%;
       height: 1200px;
       margin: 0 auto;
    }

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #map-wrapper{
        margin-top: 20%;
    }

    
    #welcome {
        padding: 30px 0;
        margin: 0;        
    }

    #left-about, #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }

    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    #classes > div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }
    
    hr {
        display: none;
    }
}

/* For medium screen sizes from 950px wide and down */

@media screen and (max-width: 950px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text {
        left: 0;
    }

    #benifits {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    .left-about-heading, .right-about-heading {
        width: inherit;
    }

    .left-about-heading h2, .right-about-heading h2 {
        width: 100%;
        text-align: center;
    }

    .left-about-heading p, .right-about-heading p {
        text-align: center;
        padding: 0 20px;
    }

    #photos {
        column-count: 3;
    }
}

@media screen and (max-width: 800px) {
    #photos {
        column-count: 2;
    }

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px; 
        font-size: 12px;
        letter-spacing: 1px; 
    }

    #logo {
        font-size: 20px;
        letter-spacing: 1px;
    }

    

}