@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Manrope&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Manrope, sans-serif;
    font-weight: 300;
    color: gray;
}

/* headings and logo */

h1, h2 {
    font-family: Karla, sans-serif;
    letter-spacing: 4px;
    color: chocolate;
}

#logo {
    float: left;
    font-size: 280%;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a:hover {
    border-bottom: 1px solid gray;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

.active {
    border-bottom: 1px solid gray;
}

/*  hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/yoga-hero-pic.webp') no-repeat center center;
    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}